@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Kapakana";
    src: url('../public/fonts/Kapakana-Regular.ttf');
}
@font-face {
    font-family: "Kurale";
    src: url('../public/fonts/Kurale-Regular.ttf');
}
@font-face {
    font-family: "Noto Sans Symbols";
    src: url('../public/fonts/NotoSansSymbols-VariableFont_wght.ttf');
}
@font-face {
    font-family: "Passions Conflict";
    src: url('../public/fonts/PassionsConflict-Regular.ttf');
}
@font-face {
    font-family: "Rozha One";
    src: url('../public/fonts/RozhaOne-Regular.ttf');
}

